root = true

[*.{cs,json,xml}]
end_of_line              = lf
charset                  = utf-8
indent_style             = space
indent_size              = 4
trim_trailing_whitespace = true

[*.cs]
charset                  = utf-8-bom

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none
